*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
   width: 100%;
   height:100vh;
   background: linear-gradient(to top, rgba(26, 25, 25, 0.5)50%, rgba(40, 38, 38, 0.5)50%),url(/08\ gettyimages-904499382_resized.jpg);
   background-size:cover;
   background-position: center;
   
}

.navbar{
    width: 100%;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 75px;
}

.logo a{
  color: white;  
  font-size: 35px;
  margin-top: 10px;
  padding-left: 20px;
  padding-top: 10px;
  float: left;
  text-decoration: none;
}

.logo a:hover{
    scale: 1.1;
    transition: 0.5s ease;
}

.menu{
    width: 70%;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;                   
}

ul li{
    list-style: none;
    margin-top: 30px;
    margin-left: 140px;
    font-size: 20px;
    font-weight: bold;
}

ul li a{
    text-decoration: none;
    color: white;
    transition: 0.4s ease;

}

ul li:hover{
    scale: 1.2;
    transition: 0.4s ease;
}

ul li a:hover{
    text-decoration: solid;
}

.content{
    width: 1200px;
    height:auto;
    margin: auto;
    color: white;
    position: relative;

}

.content .para{
    padding-left: 20px;
    padding-bottom: 25px;

}

.content h1{
    font-size:50px;
    margin-top:9%;
    margin-bottom: 10px;
    margin-left: 20px;

}

.btn{
    width: 160px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s ease;
}

.content .btn a{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: black;
}

.btn:hover{
    scale: 1.1;
}

.form{
    width: 290px;
    height: 420px;
    position: absolute;
    top: -50px;
    left: 850px;
    border-radius: 10px;
    padding: 25px;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%);   
}

.form h2{
    width: 220px;
    text-align: center;
    font-size: 25px;
    color: black;
    background-color: white;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
    margin-left: 10px;
}

.form input{
    width: 240px;
    height: 35px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    border-radius: 4px;
    background: transparent;
    border-bottom: 1px solid orange;
    margin-top: 8px;

}

.form textarea{
    width: 240px;
    height: 90px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    border-radius: 10px;
    background: transparent;
    border-bottom: 1px solid orange;
    margin-top: 3px;
    margin-bottom: 2px;
}

.btn2{
    width: 220px;
    font-size: 25px;
    align-items: center;
    margin: 8px;
}

.btn2 a{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}







