* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  background-image: linear-gradient(
    to top right,
    rgba(79, 51, 176, 1),
    rgba(210, 53, 165)
  );
}


/* 
body {
  background-image: radial-gradient(rgba(79, 51, 176, 1), rgba(210, 53, 165));
}
*/

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.calculator {
  position: relative;
  height: auto;
  width: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px #000;
}

.theme-toggler {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #fff;
  cursor: pointer;
  z-index: 1;
}

.theme-toggler.active {
  color: #333;
}

.theme-toggler.active::before {
  background-color: #fff;
}

.theme-toggler::before {
  content: '';
  height: 30px;
  width: 30px;
  position: absolute;
  transform: translate(-50%, 50%);
  top: 50%;
  border-radius: 50%;
  background-color: #333;
  z-index: -1;
}

#display {
  margin: 0 10px;
  height: 150px;
  width: auto;
  max-width: 270px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 30px;
  margin-bottom: 20px;
  overflow-x: scroll;
}

button {
  height: 60px;
  width: 60px;
  border: 0;
  margin: 4px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 25px;
  transition: all 1000ms ease;
}

#display::-webkit-scrollbar{
  display: block;
  height: 3px;
}

button:hover {
  transform: scale(1.2);
}

button#equal {
  background-color: aqua;
  border-radius: 10px;
  font-size: 45px;
}

/*light theme */

.calculator {
  background-color: #fff;
}

.calculator #display {
  color: #0a1e23;
}



/* Dark theme */


.calculator.calculator.dark {
  background-color: #0a1e23;
}


.calculator.dark #display {
  color: #fff;
}


/*changing operator btns color in dark theme*/
.calculator.dark button.operator-btn{
  background-color: #0a042089;
  color: #937e7e;
}


/*changing numeric btns color in dark theme*/
.calculator.calculator.dark .numeric-btn{
  background-color: #0a042089;
  color: #937e7e;
}


/*changing equal btns color in dark theme*/
.calculator.calculator.dark #equal{
  background-color: #1061684c;
  color: #937e7e;
}


/* changing colors of the button when hovered on */
.calculator.calculator.dark button:hover {
  color: rgb(103, 189, 189);
  background-color: #10616c78;
}

